# PostgreSQL Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
#DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# Security
SECRET_KEY=

# API
API_V1_STR=/api/v1
PROJECT_NAME=Logistic System API
APP_PORT=8000